.lbox {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #caf0f8;
}

.llogin-card {
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  background-color: transparent;
}
.llogo-section {
  width: 35vw;
  align-items: center;
  border-radius: 40px;
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #1e3b8ada;
  justify-content: center;
  box-shadow: 5px 5px 20px rgb(15, 14, 14);
}
.llogo {
  width: 8vw;
}
.ldivider {
  width: 4px;
  height: 80%;
  background-color: rgb(252, 250, 250);
}
.llogo-text {
  font-size: 25px;
  font-weight: bold;
  color: rgb(252, 250, 250);
}
.llogo-text-section {
  align-items: center;
  justify-content: center;
  margin-top: 1.7vh;
  background-color: transparent;
}
.ltitle {
  font-size: 40px;
  font-weight: bold;
  color: #1e3b8ada;
  text-align: center;
  transform: translateY(30vh);
}
